*{
    margin: 0px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    color: #ffffff;
}

a:hover {
    opacity: 0.7;
}

#logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* Modificar a fonte para uma adequada à estetica do projeto final*/
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* Modificar a cor para uma adequada à estetica do projeto final */
    background: #23232e;
    height: 8vh;
}

/* Colocar a imagem do background */
.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
    position: relative;
    top: 50%;
    transform: translateY(28%);
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    /* Modificar a cor para uma adequada à estetica do projeto final */
    background: #ffffff;
    margin: 8px;
}

.mobile-menu {
    cursor: pointer;
    display: none;
}

@media (max-width: 900px) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 40vw;
        height: 20vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translate(100%);
    }
    .nav-list li{
        margin-left: 40%;
        opacity: 0;
    }
    .mobile-menu {
        display: block;
    }
    .nav-list .active {
        transform: translate(0);
    }
}

.estrutura{
    display: flex;
    min-width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.formLogin{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10%;
    align-items: center;
}
.login{
        display: flex;
        flex-direction: column;
        text-align: center;
        border-radius: 20px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.22);
        background: #f2f2f2;
        padding: 30px;
        }

.sign{
    margin: 10px;
}
.socialMedias{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-around;
}

.loginRequired{
    margin-bottom: 15px;
}

.buttonSign{
    margin-bottom: 10px;
}
        

/* register */

.formRegister{

    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.22);
    background: #f2f2f2;
    padding: 30px;
    }

.login{
    background: #556B2F;
}

.login:hover{
    transform: scale(1.3);
    transition: .6s;
}

.login:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -8px);
}

.formRegister{
    background: #556B2F;
}

.formRegister:hover{
    transform: scale(1.3);
    transition: .6s;
}

.formRegister:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -8px);
}

.signIn{
    color: #23232e;
}

.socialMedias{
    color: antiquewhite;
}

.buttonSign{
    text-align: center;
    font-size: 24px;
    color: #fff;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 3px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}